body{
font-family: Arial, Helvetica, sans-serif;
background : indigo;
}

.Ez{
    background-color: darkcyan;
    color: gold;
}

.Ez p{
    font-family: 'Syne Tactile', cursive;
    color: lawngreen;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.Yes button{
    font-family: 'Syne Tactile', cursive;
 margin-top: 30px;
 width: 130px;
 font-weight: bolder;
 letter-spacing: 3px;
}

#footer{
    position: fixed;
    bottom: 0;
    color: lightsalmon;
    background-color: magenta;
    width: 100%;
    font-size: 18px;
    text-align: center;
    text-shadow: 5px 5px 5px midnightblue;
}

#sound{
    color: olive;
}

#accuracy{
    color: orange;
}